<main role="main">
    <section id="mu-login" class="mu-bg">
        <!--<div class=" login-padding-top login-margin ">-->
        <div class="col-md-8 col-md-offset-2 login-padding-top ">
            <div class="login_box wrapperCenter">

                <div class="col-md-12 col-xs-12" align="center">
                    <h2><span>Login</span></h2>
                    <div class="line">

                    </div>
                    <div class="wrapper"><img src="assets/images/logo.jpg" class="img-circle" /></div>

                </div>
                <form novalidate [formGroup]="loginForm" (ngSubmit)="signInWithEmail() ">
                    <!-- <pre>{{loginForm.value | json}}</pre> -->

                    <div class="control" *ngIf="loginForm.errors && (loginForm.dirty || loginForm.touched) ">
                        <div class="form-group error">
                            <span [hidden]="!loginForm.errors">The email/password is invalid.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="control">
                                <input type="email" class="form-control " formControlName="email" placeholder="Email " required>
                            </div>
                            <div class="control" *ngIf="email.errors && (email.dirty || email.touched) ">
                                <div [hidden]="!email.errors.required" class="form-group error">
                                    <span>Invalid email address</span>

                                </div>
                            </div>
                        </div>
                        <div class=" col-md-12">
                            <div class="control">
                                <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
                            </div>
                            <div class="control" *ngIf="password.errors && (password.dirty || password.touched) ">
                                <div class="form-group error ">
                                    <span [hidden]="!password.errors.required">Password is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center ">
                        <button type="submit " class="btn btn-block btn-primary" [disabled]="!loginForm.valid"><span>Login</span></button>
                        <a href="/register" class="btn btn-block btn-secondary" role="button" aria-disabled="true">Not a user yet?</a>
                    </div>
                    <input type="hidden" id="totalRaised" />
                </form>
            </div>
        </div>
    </section>
</main>