<!-- Start menu  -->
<nav class="navbar navbar-fixed-top navbar-default mu-navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <!-- Logo -->
            <a class="navbar-brand navbar-light bg-light" href="index.html"><img src="assets/images/icon/title.png" width="175px" class="d-inline-block align-top" alt="logo img"></a>

            <!--<img src="assets/images/icon/title.png" alt="logo img">-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav mu-menu navbar-left">
                <li class="nav-item  dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-globe"></i>
                        <span class="caret"></span></a>

                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="collapse" (click)="switchLanguageEn()"><span><img id="img-enlang" src="assets/images/icon/enlang-icon.png"/></span>EN</a>
                        <a class="dropdown-toggle" role="button" data-toggle="collapse" (click)="switchLanguageCn()"><span><img id="img-cnlang" src="assets/images/icon/cn-lang.png"/></span>中文</a>
                    </div>

                </li>
            </ul>

            <ul class="nav navbar-nav mu-menu navbar-right" style="list-style:none">
                <li><a href="#mu-hero" translate>Home</a></li>
                <li><a href="#mu-about" translate>About Us</a></li>
                <li><a href="#mu-ico" translate>Token Sale</a></li>
                <li><a href="#mu-schedule" translate>Schedule</a></li>
                <li><a href="#mu-team" translate>Team</a></li>
                <li><a href="#mu-advisors" translate>Advisors</a></li>
                <li><a href="#mu-partners" translate>Partners</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container-fluid -->
</nav>
<!-- End menu -->

<div class="side-nav-bar">
    <ul class="side-nav-bar-ul">
        <li>
            <a href="https://twitter.com/etherdelta" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://t.me/joinchat/FNAeBUjZxQW9TYATXDmDUA" target="_blank">
                <i class="fa fa-paper-plane"></i>
            </a>
        </li>
        <li class="wechat"><a><i class="fa fa-wechat"></i>
      <div class="wechatCord">
        <img src="assets/images/wechatqr.jpg" alt="" style="width:100px;">
      </div>
    </a></li>

    </ul>
</div>

<div class="mu-hero-overlay">
    <div class="container">
        <div class="mu-hero-area">

            <!-- Start hero featured area -->
            <div class="mu-hero-featured-area">
                <!-- Start center Logo -->
                <div class="row">

                    <div class="">
                        <div class="row">
                            <div class="col-md-6">

                                <!--slogon-->
                                <div class="mu-hero-featured-content">
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4">
                                            <img class="slogon-logo" src="assets/images/icon/edlogo.png" alt="EtherDelta">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3><strong translate>DECENTRALIZED EXCHANGE</strong></h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 translate>Token Generation Event Start In</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="mu-event-counter">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button translate type=" button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal " (click)='downloadWP()' translate>Whitepaper
                    </button>

                                        <button translate type=" button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal" (click)='gotoExchange()' translate>Visit Exchange
                    </button>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>