<header id="mu-hero" class="" role="banner">
    <app-navbar></app-navbar>
</header>

<main role="main">
    <!-- Start About -->
    <section id="mu-about">
        <div class="container">
            <div class="mu-about-area">
                <div class="row">
                    <img class="center-block" src="assets/images/icon/etherdelta.jpg" alt="EtherDelta">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">About Ether Delta</h2>
                            <p>Ether Delta is a decentralized trading platform without any involvement of an exchange involving any asset management.
                            </p>
                            <p>Decentralization can also be used to invoke the contract in a smart contract to implement the in-app token conversion</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/icon/multrans.png" alt="multi transaction img">
                        </div>
                        <div class="col-md-8">
                            <h6>Diversity</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate perspiciatis magni omnis excepturi, cumque reiciendis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/icon/decentralized.png" alt="multi transaction img">
                        </div>
                        <div class="col-md-8">
                            <h6>Decentralization</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate perspiciatis magni omnis excepturi, cumque reiciendis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/icon/nokyc.png" alt="multi transaction img">
                        </div>
                        <div class="col-md-8">
                            <h6>Unlock KYC</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate perspiciatis magni omnis excepturi, cumque reiciendis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/icon/trust.png" alt="multi transaction img">
                        </div>
                        <div class="col-md-8">
                            <h6>Trust</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate perspiciatis magni omnis excepturi, cumque reiciendis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/icon/secure.png" alt="multi transaction img">
                        </div>
                        <div class="col-md-8">
                            <h6>Secure</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate perspiciatis magni omnis excepturi, cumque reiciendis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/images/icon/fairness.png" alt="multi transaction img">
                        </div>
                        <div class="col-md-8">
                            <h6>Impartial</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate perspiciatis magni omnis excepturi, cumque reiciendis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->

    <!-- Start Video -->
    <section id="mu-video">
        <div class="mu-video-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-video-area">
                            <h2>Watch Video</h2>
                            <a class="mu-video-play-btn" href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Video content -->
        <div class="mu-video-content">
            <div class="mu-video-iframe-area">
                <a class="mu-video-close-btn" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                <!--<iframe width="854" height="480" src="https://www.youtube.com/watch?v=d3MfUozeXiI" frameborder="0" allowfullscreen></iframe>-->
            </div>
        </div>
        <!-- End Video content -->

    </section>
    <!-- End Video -->


    <!-- Schedule -->
    <!-- Start Schedule  -->
    <section id="mu-ico">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-ico-area">
                        <div class="mu-title-area">
                            <h2 class="mu-title">Tokens Sale</h2>
                        </div>
                        <div class="">

                            <table class="table table-hover table-responsive " id="customers">

                                <tbody>
                                    <tr class="">
                                        <td colspan="2">Total Supply of Tokens</td>
                                        <td colspan="2">150,000,000</td>
                                    </tr>
                                    <tr class="">
                                        <td colspan="2">Token Sale Hard Cap</td>
                                        <td colspan="2">150,000,000</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Rate</td>
                                        <td colspan="2">ETH/EDT 1/8500</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Individual Min Eth</td>
                                        <td colspan="2">0.1</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Currencies Accepted</td>
                                        <td colspan="2">ETH</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="wrapperCenter">

                            <div class="row">
                                <div class="mu-title-area">
                                    <h2 class="mu-title">Use of Process</h2>
                                </div>
                                <div class="col-md-6">
                                    <ul data-pie-id="svg">
                                        <li data-value="35">System Development & operation (35)</li>
                                        <li data-value="50">Marketing & Promotion (50)</li>
                                        <li data-value="15">Emergency fund for the Israeli platform to cope with emergencies. (15)</li>

                                    </ul>
                                </div>
                                <div class="col-md-5 col-xs-offset-1">
                                    <div id="svg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mu-title-area">
                                <h2 class="mu-title">Tokens Distribution</h2>
                            </div>
                            <div class="col-md-5 col-xs-offset-1">
                                <div id="my-cool-chart"></div>
                            </div>
                            <div class="col-md-6">
                                <ul data-pie-id="my-cool-chart" data-options=''>
                                    <li data-value="10">150,000,000 Team reserved 1 year (10)</li>
                                    <li data-value="40">600,000,000 Privaty Equality (40)</li>
                                    <li data-value="50">750,000,000 Initial Coin Offer (50)</li>

                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>

    <!-- Schedule -->
    <!-- Start Schedule  -->
    <section id="mu-schedule">

        <div class="container">
            <div class="page-header">
                <h1 id="timeline">Timeline</h1>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2008 Q2</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Mobile app user interface(UI) enhancement</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2018 Q4</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Team & Talent expanding</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2019 Q1</h4>
                        </div>
                        <div class="timeline-body">
                            <p>New decentralized ICO platform released</p>
                        </div>
                    </div>
                </li>

                <li class="timeline-inverted">
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2019 Q3</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Increase the value of the wallet</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </section>



    <!-- Start Speakers -->
    <section id="mu-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-team-area">

                        <div class="mu-title-area">
                            <h2 class="mu-title">Team</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ut sapiente et voluptatum facilis consectetur incidunt provident asperiores at necessitatibus nulla sequi voluptas libero quasi explicabo veritatis
                                minima porro.</p>
                        </div>

                        <!-- Start team Content -->
                        <div class="mu-team-content">

                            <div class="row">
                                <!-- Start single speaker -->
                                <div class="col-md-4">
                                    <div class="mu-single-team">
                                        <img src="assets/images/PROFILE_TERRY.jpg" class="img-circle" alt="speaker img">
                                        <div class="mu-single-team-info">
                                            <h3>Terry Liu</h3>
                                            <p>CEO</p>
                                            <ul class="mu-single-team-social">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single speaker -->

                                <!-- Start single speaker -->
                                <div class="col-md-4">
                                    <div class="mu-single-team">
                                        <img src="assets/images/PROFILE_LUNA.png" class="img-circle" alt="speaker img">
                                        <div class="mu-single-team-info">
                                            <h3>Luna Sun</h3>
                                            <p>CMO</p>
                                            <ul class="mu-single-team-social">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single speaker -->


                                <!-- Start single speaker -->
                                <div class="col-md-4">
                                    <div class="mu-single-team">
                                        <img src="assets/images/PROFILE_YANGCHEN.jpg" class="img-circle" alt="speaker img">
                                        <div class="mu-single-team-info">
                                            <h3>Yangcheng Wei</h3>
                                            <p>CFO</p>
                                            <ul class="mu-single-team-social">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single speaker -->
                            </div>
                        </div>
                        <!-- End team Content -->


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Speakers -->

    <!-- Start Advisor -->
    <section id="mu-advisors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-advisors-area">

                        <div class="mu-title-area">
                            <h2 class="mu-title">Advisor</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ut sapiente et voluptatum facilis consectetur incidunt provident asperiores at necessitatibus nulla sequi voluptas libero quasi explicabo veritatis
                                minima porro.</p>
                        </div>

                        <!-- Start Speakers Content -->
                        <div class="mu-advisor-content">

                            <div class="row">

                                <!-- Start single speaker -->
                                <div class="col-md-4">
                                    <img src="assets/images/PROFILE_ZACK.jpg" class="img-circle" alt="speaker img">
                                    <div class="mu-single-team-info">
                                        <h3>Zack</h3>
                                        <p>Advisor</p>
                                        <ul class="mu-single-team-social">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End single speaker -->

                                <!-- Start single speaker -->
                                <div class="col-md-4">
                                    <img src="assets/images/PROFILE_JIAWEI.jpg" class="img-circle" alt="speaker img">
                                    <div class="mu-single-team-info">
                                        <h3>Jiawei</h3>
                                        <p>Advisor</p>
                                        <ul class="mu-single-team-social">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End single speaker -->


                                <!-- Start single speaker -->
                                <div class="col-md-4">
                                    <img src="assets/images/PROFILE_JOE.jpg" class="img-circle" alt="speaker img">
                                    <div class="mu-single-team-info">
                                        <h3>Yangcheng</h3>
                                        <p>Advisor</p>
                                        <ul class="mu-single-team-social">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End single speaker -->
                            </div>
                        </div>
                        <!-- End Speakers Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- register
  <section id="mu-register">
    <app-register></app-register>
  </section>-->
</main>