@import "~assets/css/theme-color/jelly-bean-theme.css";
.wrapperCenter {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    float: none;
}

#mu-login {
    background-image: url('../../assets/images/trianglifybg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: inline;
    float: left;
    position: relative;
    width: 100%;
    height: 100%
}

#mu-login::before {
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 0.9;
}

.mu-login-area {
    display: inline;
    float: left;
    margin: 0 auto;
    width: 100%;
}

.mu-login-area .mu-title,
.mu-login-area p {
    color: #fff;
}

.mu-login-content {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 200px;
    margin-top: 50px;
}


/* * {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
} */

div h2 span {
    color: #FFF;
    font-size: 18px;
}

div span {
    font-weight: 300;
}

h1 {
    font-weight: 200;
}

.login_box {
    background: #69B9F3;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(45deg, #8cc6f0 5%, #025a99 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(5%, #f32d27), color-stop(99%, #ff6b45));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #8cc6f0 5%, #025a99 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #8cc6f0 5%, #025a99 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #8cc6f0 5%, #025a99 99%);
    /* IE10+ */
    background: linear-gradient(45deg, #8cc6f0 5%, #025a99 99%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f32d27', endColorstr='#ff6b45', GradientType=1);
    /* IE6-8 fallback on horizontal gradient */
    width: 80%;
    height: 90%;
    position: relative;
    top: 15%;
    /* left: 30%; */
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
}

.img-circle {
    border-radius: 50%;
    /* width: 175px;
    height: 175px; */
    border: 4px solid #FFF;
    margin: 10px;
}

.follow {
    background-color: #FC563B;
    height: 80px;
    cursor: pointer;
}

.follow:hover {
    background-color: #F22F26;
    height: 80px;
    cursor: pointer;
    color: #000000;
}

.login_control {
    background-color: #FFF;
    padding: 10px;
}

.control {
    color: #000;
    margin: 10px;
}

.label {
    color: #EB4F26;
    font-size: 18px;
    font-weight: 500;
}

.form-control {
    color: #000000 !important;
    font-size: 12px;
    border: none;
    padding: 15px;
    padding-left: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-radius: 0px;
    border-bottom: 1px solid #FC563B;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-orange {
    background-color: #FC563B;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;
}

.btn-orange:hover {
    background-color: #F22F26;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;
    color: #FFF !important;
}

.line {
    border-bottom: 2px solid #69B9F3;
}

.login-padding-top {
    padding-top: 140px;
    padding-bottom: 140px;
}

.login-margin {
    margin: 40px;
}

.login-padding-left {
    padding-left: 25px;
}


/* model */

.modal-header,
.modal-footer {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-control-offset {
    margin-bottom: -10px;
}

.contract-qr {
    display: block;
    background-image: url('/assets/images/ED_TGE_QR.png');
}