<main role="main">

    <section id="mu-login">
        <div class=" login-padding-top login-margin ">
            <div class="login_box wrapperCenter">

                <div class="col-md-12 col-xs-12" align="center">
                    <div class="line">
                        <h2><span>EtherDalta Token Event Registration</span></h2>
                    </div>
                    <div class="wrapper"><img src="assets/images/logo.jpg" class="img-circle" /></div>

                </div>
                <form novalidate [formGroup]="registerForm" (ngSubmit)="onFormSubmit() ">
                    <div class="col-md-12 col-xs-12 login_control">

                        <div class="control">
                            <input type="email" class="form-control " formControlName="email" placeholder="Email " required>
                        </div>
                        <div class="control" *ngIf="email.errors && (email.dirty || email.touched) ">
                            <div class="form-group error">
                                <span [hidden]="!email.errors">Invalid email address</span>
                            </div>
                        </div>
                        <div class="control">
                            <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
                        </div>
                        <div class="control" *ngIf="password.errors && (password.dirty || password.touched) ">
                            <div class="form-group error ">
                                <span [hidden]="!password.errors.required">Password is required.</span>
                                <span [hidden]="!password.errors.pattern">Password must be include at least one letter and one number.</span>
                                <span [hidden]="!password.errors.minlength">Password must be 6 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="control">
                            <div class="form-group">
                                <label class="label">Terms & Agreement</label>
                                <div *ngIf="isLoaded" style="text-align: center;">
                                    <button class="btn btn-primary-outline" (click)="prevPage()" [disabled]="page === 1">Prev</button>
                                    <span>{{ page }} / {{ totalPages }}</span>
                                    <button class="btn btn-primary-outline" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
                                </div>

                                <div style="border: 1px solid #e5e5e5; height: 450px; overflow: scroll; padding: 1px;text-align: center;">
                                    <pdf-viewer src="assets/whitepaper/Term_Agreement.pdf" [show-all]="false" [page]="page" [zoom]="0.1" [fit-to-page]="true" [autoresize]="true" (after-load-complete)="afterLoadComplete($event)">
                                    </pdf-viewer>

                                </div>
                            </div>
                        </div>
                        <div class="control">
                            <div class="form-group">
                                <div class="checkbox login-padding-left">
                                    <label><input type="checkbox" name="agreement" formControlName="agreement" value=""> I have read, understand, and agree to abide by the terms of the EtherDelta Decentralized exchange agreement.</label>
                                </div>
                            </div>
                        </div>

                        <div class="control " *ngIf="agreement.errors && (agreement.dirty || agreement.touched) ">
                            <div class="form-group error">
                                <p *ngIf="agreement.errors.required">Agreement is required.</p>

                            </div>
                        </div>
                        <div class="text-center ">
                            <button type="submit " class="btn btn-success" [disabled]="!registerForm.valid"><span>SUBMIT</span></button>
                        </div>

                        <div>
                            <label></label>
                        </div>
                        <div class="control">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ngb-alert *ngIf="message" [type]="msgType" role="alert" [dismissible]="false">
                                        {{ message }}
                                        <div>
                                            <label></label>
                                        </div>
                                        <div *ngIf="showEDT">
                                            <div class="input-group">
                                                <div class="line"></div>


                                                <input type="text" #inputTarget class="form-control form-control-offset" disabled [value]="contractAddress">

                                                <span class="input-group-btn">
                                      <button class="btn btn-default" [class.btn-success]= "isCopied" type="button" ngxClipboard [cbContent]="contractAddress" (cbOnSuccess)="isCopied = true">copy</button>

                                            </span>

                                            </div>
                                            <div class="row wrapper">
                                                <div class="col-md-12 "><img class="center-block" src="assets/images/ED_TGE_QR.png" /></div>
                                            </div>
                                        </div>
                                    </ngb-alert>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div>

                    </div>
                </form>

                <!--<pre>{{registerForm.value | json}}</pre>-->

            </div>
        </div>

    </section>



</main>